@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-in-page-navigation/src/styles/usa-in-page-navigation';

$block: 'usa-in-page-nav';

.usa-in-page-nav-container {
	flex-direction: column;

	.usa-in-page-nav {
		display: block;
		max-width: unset;

		&__list {
			display: flex;
			height: 3rem;
			border: 0;
			border-bottom: 1px solid #1b1b1b40;
			overflow-x: auto;
			overflow-y: hidden;
			-webkit-overflow-scrolling: touch; // smooth scrolling on iOS
			touch-action: pan-x;
			scrollbar-width: none; // hide scrollbar in Firefox
			-ms-overflow-style: none; // hide scrollbar in IE 10+
			scroll-snap-type: x mandatory;
			font-size: 1rem;
			z-index: 10;

			&::-webkit-scrollbar {
				display: none; // hide scrollbar in WebKit browsers
			}

			&,
			a {
				&:not(.usa-button) {
					& .usa-current {
						&:after {
							top: 90%;
							width: 100%;
							min-height: .25rem;
							background-color: color('secondary');
						}
					}
				}
			}
		}

		&__item {
			min-width: fit-content;
		}


	}

	.main-content {

		.usa-link--external {
			&:after {
				position: relative;
			}
		}

		// remove bottom margin from last component in the last section, as well as last section (not collapsing with flex layout)
		// stylelint-disable-next-line scss/selector-nest-combinators
		>.section:last-child {

			&,
			> :last-child {
				margin-bottom: 0;
			}
		}
	}
}

@include at-media('tablet') {
	.usa-in-page-nav-container {
		flex-direction: row;

		.in-page-navigation {
			align-self: stretch; // so that the inner .usa-in-page-navigation can be sticky within this space
			order: 2;
		}

		.#{$block} {
			max-width: units('card');

			&__heading {
				@include typeset('heading', '2xs', $theme-heading-line-height);
				@include u-text('semibold');
			}

			&__list {
				display: block;
				height: inherit;
				border: 0;
				border-left: 1px solid #1b1b1b40;
				font-size: inherit;

				// stylelint-disable-next-line scss/selector-nest-combinators
				&,
				a:not(.usa-button) {
					&.usa-current {
						&:after {
							top: 0;
							left: units(1px) * -1; // on top of the __list border
							width: .25rem;
							background: color('secondary');
						}
					}
				}
			}

			&__item {
				font-size: size('body', '3xs');
			}
		}
	}
}

@include at-media('desktop') {
	.usa-in-page-nav-container {
		.#{$block} {
			max-width: units('card-lg');
		}
	}
}