@use '../../styles/ne-global-imports' as *;
@use 'sass:meta';
@use 'sass:math';

$uswds-block: 'usa-banner';

.form-wrapper {
	@include meta.load-css('~uswds/uswds-form-controls/index'); // avoid affecting top search

	&__header-text {
		@include u-padding-y(1.5);
	}

	.usa-form,
	.usa-label,
	.usa-checkbox__label,
	.usa-radio__label, 
	.field-description,
	.usa-hint {
		font-size: size('body', 5);
		
	}

	.usa-checkbox__label,
	.usa-radio__label {
		&:before {
			margin-top: math.div( ( line-height($theme-form-font-family, $theme-input-line-height) * font-size($theme-form-font-family, 'sm') - units( $theme-input-select-size ) ), 2 );
		}
	}

	.captcha-wrapper {
		display: none ;
	}
	
	.field-description {
		@include u-font-weight('bold');
		margin-top: units(.5);
		color: color('error-dark');
	}
}
