@use '../../styles/ne-global-imports' as *;
$block: 'gallery';


.#{$block} {
	position: relative;
	// display: grid;
	column-gap: px-to-rem(15px);

	.thumbnail__container {
		column-count: 2;

		@include at-media('tablet') {
			column-count: 3;
			grid-template-columns: repeat(3, 1fr);
		}

		@include at-media('desktop') {
			column-count: 4;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	&__item {

		display: inline-block;
		margin-bottom: px-to-rem(15px);
		border-radius: px-to-rem(15px);
	}


	&__media {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 0;
		margin-bottom: px-to-rem(20px);

		@include at-media('tablet') {
			flex-direction: row;
			
			figcaption{
				max-width: 30%;
			}
		}

		img {
			border-radius: px-to-rem(15px);
		}

		figcaption {
			bottom: 0;
			display: none;
			margin: 0;
			padding: .5rem 1.5rem;
		}
	}

	&__thumbnail {
		display: flex;
		border: 0;
		background: transparent;
	}

	&__modal {
		display: flex;
		flex-direction: column;
		margin-bottom: 25px;

		&.hidden{
			display: none;
		}

		.usa-button {
			align-self: center;
		}

		figcaption{
			display: block;
		}
	}

}

main {

	&:has(.side-navigation-container),
	&:has(.in-page-navigation) {
		.thumbnail__container {
			@include at-media('tablet') {
				column-count: 2;
			}

			@include at-media('desktop') {
				column-count: 3;
			}

		}
	}
}