@use '../../styles/ne-global-imports' as *;

.columns {
	margin-bottom: units($component-spacing);

	&__grid-row {
		margin-bottom: units($theme-site-margins-mobile-width * -1)
	}
	
	&__grid-col {
		margin-bottom: units($theme-site-margins-mobile-width)
	}
	
	@include at-media('desktop') {
		&__grid-row {
			margin-bottom: units($theme-site-margins-width * -1)
		}
		
		&__grid-col {
			margin-bottom: units($theme-site-margins-width)
		}
	}
}
