@use '../../styles/ne-global-imports' as *;

.columns {
	margin-bottom: units($component-spacing);

	&__grid-row {
		row-gap: units($theme-site-margins-mobile-width);
	}
	
	@include at-media('desktop') {
		&__grid-row {
			row-gap: units($theme-site-margins-width)
		}
	}
}
