@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-banner/src/styles/usa-banner';

$uswds-block: 'usa-banner';

.#{$uswds-block} {
	&__header-text {
		@include u-padding-y(1.5);
	}

	&--ne {
		.#{$uswds-block}__header-flag {
			width: 1.2rem;
			height: auto;
		}
	}
}
