main {
	&:has(.google-results) {
		overflow-x: clip;
	}
}

.google-results {
	// Reserve space for results to minimize CLS when Google injects content
	.google-results-wrapper {
		min-height: 40vh;
	}

	.gsc-control-cse {
		border: 0;
		background-color: inherit;

		.gsc-tabsArea {
			.gsc-tabHeader {
				background-color: inherit;
			}
		}
	
		.gsc-refinementsArea {
			background-color: inherit;

			.gsc-refinementHeader {
				background-color: inherit;
			}
		}

		.gsc-above-wrapper-area {
			table {
				td {
					border: 0;
				}
			}
		}

		.gsc-results {
			.gsc-result {
				border: 0;
				background-color: inherit;
	
				&:hover {
					border: 0;
					background-color: unset;
				}
			}

			.gsc-cursor-box {
				.gsc-cursor-page {
					background-color: inherit;
				}
			}
		}
	}
}
