@use '../../styles/ne-global-imports' as *;

.carousel {
	&.block {
		position: relative;

		.carousel-arrow {
			&__container {
				display: none;
				min-width: 100%;
				padding: 0 2rem;

				@include at-media('tablet') {
					position: absolute;
					top: 45%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
			}

			&__item {
				width: 70px;
				height: 70px;
				margin: 0;
				color: #fff;
				box-shadow: inset 0 0 0 2px #fff, 0 0 9px -2px #373737, inset 0 0 9px -4px #373737;
				z-index: 2;

				svg {
					flex-basis: 100%;
					height: auto;
				}
			}
		}
	}
}

.carousel-group {
	display: flex;
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
	overflow: scroll clip;

	&::-webkit-scrollbar {
		display: none;
	}

	&__indicator {
		position: relative;
		top: 2rem;
		right: 2%;
		display: flex;
		gap: 5px;
		flex-direction: row-reverse;
		z-index: 3;
	}
}

.carousel-card {
	position: relative;
	display: flex;
	flex: 0 0 100%;
	flex-direction: column;
	scroll-snap-align: start;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	min-width: 100%;
	margin: 0;

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: clamp(30rem, 45vw, 40rem);
		border-radius: .5rem;
		background: linear-gradient(0deg, white 80%, transparent 81%);


		@include at-media('tablet') {
			height: 35rem;
		}
	}

	&__media {
		text-decoration: none;
		overflow: hidden;
		aspect-ratio: unset;
		inset: 0;
		z-index: 0;

		@include at-media('tablet') {
			max-height: 100%;
		}

		picture {
			display: block;
			width: 100%;
			height: 100%;
			margin: 0;
		}

		img {
			width: 100%;
			aspect-ratio: 4/3;
			object-fit: cover;
			object-position: center;
			border-radius: inherit;

			@include at-media('tablet') {
				aspect-ratio: 16/9;
			}

		}
	}

	&__content {
		width: 100%;
		max-height: 50%;
		padding: 2rem;
		border-top: 4px solid color('secondary');
		background-color: white;


		@include at-media('tablet') {
			max-height: 20%;
		}
	}

	&__indicator {
		width: 15px;
		height: 15px;
		border: 1px solid #37373780;
		border-radius: 10px;
		background: #ffffffb3;


		&.usa-current {
			width: 30px;
			background-color: color('secondary');
		}
	}
}