.carousel.block {
    position: relative;

    .carousel-arrow {
        &__container {
            position: absolute;
            padding: 0 2rem;
            top: 45%;
            min-width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__item {
            margin: 0;
            color: #fff;
            width: 70px;
            height: 70px;
            box-shadow: inset 0 0 0 2px #fff, 0 0 9px -2px #373737, inset 0 0 9px -4px #373737;
            z-index: 2;

            svg{
                height: auto;
                flex-basis: 100%;
            }
        }
    }
}

.carousel-group {
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow: scroll clip;

    &::-webkit-scrollbar {
        display: none;
    }

    &__indicator {
        display: flex;
        position: relative;
        top: 3rem;
        right: 2%;
        gap: 5px;
        flex-direction: row-reverse;
        z-index: 3;
    }
}

.carousel-card {
    min-width: 100%;
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;
    margin: 0;

    &__container {
        position: relative;
        width: 100%;
        height: 40rem;
        background: linear-gradient(0deg, rgb(3 58 76) 80%, transparent 81%);
    }

    &__media {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: .5rem;
        text-decoration: none;
        z-index: 0;
        aspect-ratio: unset;
        inset: 0;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__content {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        color: white;
        background-color: rgba(3, 58, 76, 0.6);
    }

    &__indicator {
        border-radius: 10px;
        width: 10px;
        height: 10px;
        background: rgba(255, 255, 255, 0.7);
        box-shadow: 0 0 3px -1px #373737;


        &.usa-current {
            width: 20px;
            background-color: #ffc44d;
        }
    }
}