@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-collection/src/styles/usa-collection';

.search-wrapper {
	.usa-search {
		max-width: 70ex;

		.usa-input {
			width: 100%;
		}

		.usa-button {
			&[type='submit'] {
				border-top-right-radius: radius(sm);
				border-bottom-right-radius: radius(sm);
				background-color: color(blue-50);
			}
		}
	}
}