@use '../../styles/ne-global-imports' as *;

.search-wrapper {
	.usa-search {
		max-width: 70ex;
		margin-bottom: units(7);

		.usa-input {
			width: 100%;
			border: 1px solid color('ink');
		}

		.usa-button {
			&[type='submit'] {
				border: 1px solid color('primary');
				background-color: color('primary');
			}
		}
	}
}