@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-collection/src/styles/usa-collection';

.manual-collection {
	$block: 'usa-collection';
    
	.#{$block} {
		&__item {
			border-color: color('base-lighter');
		}
		
		&__meta-item {
			display: flex;
			align-items: center;
			gap: px-to-rem(4px);
			
		}
	}
}