@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-collection/src/styles/usa-collection';

@mixin section-link-theme($link, $linkHover, $svgFill: null) {

	.columns.block,
	.default-content-wrapper,
	.manual-collection {
		@if $svgFill !=null {
			svg {
				fill: $svgFill;
			}
		}

		a {
			color: $link;

			&:hover,
			&:focus {
				color: $linkHover;
			}
		}
	}
}

@mixin accordion-on-dark {
	.usa-accordion {
		&__button {
			color: color('white');

			&:hover,
			&:focus {
				color: color('white');
			}
		}

		&__content {
			background-color: transparent;
			color: color('white');
		}
	}
}

@mixin accordion-transparent {
	.usa-accordion {
		&__content {
			background-color: transparent;
		}
	}
}

@mixin manual-collection-border($borderColor) {
	.manual-collection {
		.usa-collection__item {
			border-color: $borderColor;
		}
	}
}

.section-background {
	// --light is default

	&--dark,
	&--theme {
		@include u-text('white');
	}

	&--dark {
		background: color('primary-darkest');
	}

	&--theme {
		background: var(--theme-hero-bg);
	}

	&__image,
	&--image:before {
		position: absolute;
		inset: 0;
		display: block;
	}

	&__image {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		filter: blur(6px) grayscale(100%);
		z-index: -2;
	}

	&--image {
		position: relative;
		overflow: hidden; // clip off the blur of the image outside the lines
		z-index: 1; // base

		&:before { // overlay
			z-index: -1;
			background: linear-gradient(to right, color('primary-lightest'), rgba(color('primary-lightest'), .5));
			content: '';
		}

		&.section-background--dark {
			&:before {
				background: linear-gradient(to right, color('primary-darkest'), rgba(color('primary-darkest'), .5));
			}
		}

		&.section-background--theme {
			&:before {
				background: linear-gradient(to right, var(--theme-hero-bg), rgb(from var(--theme-hero-bg) r g b / 0.5));
			}
		}
	}
}