@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-collection/src/styles/usa-collection';

@mixin section-link-theme($link, $linkHover, $svgFill: null) {
  @if $svgFill != null {
    svg { fill: $svgFill; }
  }

  a {
    color: $link;

    &:hover,
    &:focus {
      color: $linkHover;
    }
  }
}

@mixin accordion-on-dark {
  .usa-accordion {
    &__button {
      color: color('white');

      &:hover,
      &:focus {
        color: color('white');
      }
    }

    &__content {
      background-color: transparent;
      color: color('white');
    }
  }
}

@mixin accordion-transparent {
  .usa-accordion {
    &__content {
      background-color: transparent;
    }
  }
}

@mixin manual-collection-border($borderColor) {
  .manual-collection {
    .usa-collection__item {
      border-color: $borderColor;
    }
  }
}


.section {
  &:has(.section-background) {
    position: relative;
    margin-top: 0;
    padding-top: units(9);
    padding-bottom: units(9);
  }

  // -----------------------------
  // Image background theme
  // -----------------------------
  &:has(.image) {
    color: color('white');
    @include section-link-theme(color('secondary'), color('secondary-light'), color('secondary'));

    .section-background::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  // -----------------------------
  // Blue / Red 
  // -----------------------------
  &:has(.blue),
  &:has(.red) {
    color: color('white');
    @include section-link-theme(color('secondary'), color('secondary-light'), color('secondary'));
    @include accordion-on-dark;

    caption { color: color('white'); }
  }

  // Blue-only extras
  &:has(.blue) {
    .info-card-grid.blue {
      .usa-card {
        &__container {
          background-color: color('primary-darker');
          box-shadow: 0 0 4px 2px #00000066;
        }

        &__footer a {
          color: color('black');
        }
      }
    }
  }

  // -----------------------------
  // Yellow theme
  // -----------------------------
  &:has(.yellow) {
    .h2--underline::after {
      background-color: color('primary');
    }

    .usa-accordion {
      &__button {
        border-top-color: color('primary-darker');

        &::before {
          background-color: color('primary');
        }
      }

      &__content {
        background-color: transparent;
      }
    }

    @include manual-collection-border(color('primary-darker'));
  }

  // -----------------------------
  // Green theme
  // -----------------------------
  &:has(.green) {
    @include section-link-theme(color('primary-darker'), color('accent-cool-darkest'), color('primary-darker'));

    .h2--underline::after {
      background-color: color('primary-darkest');
    }

    .usa-accordion {
      &__button {
        border-top-color: color('primary-darker');
        color: color('primary-darker');
      }
      &__content { background-color: transparent; }
    }

    @include manual-collection-border(color('primary-darker'));
  }


  &:has(.section-background):has(.icon-button-grid-wrapper) {
	margin: 0;
    background: transparent;
  }
}


.section-background {
  position: absolute;
  inset-block: 0;
  left: -100vw;
  width: 200vw;
  height: 100%;
  z-index: -1;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include at-media('tablet') {
    background-attachment: fixed;
  }

  &.blue   { background-color: color('primary-dark'); }
  &.red    { background-color: color('emergency-dark'); }
  &.green  { background-color: color('accent-warm-dark'); }
  &.yellow { background-color: $ne-color-yellow-background; }
}
