@use '../../styles/ne-global-imports' as *;

.usa-pagination {
	&__link-text,
	.usa-icon__wrap {
		pointer-events: none;
	}
	
	&__link {
		&--disabled {
			display: none;
		}
	}
	
	.usa-current {
		background-color: color(primary);
	}
	
	.usa-icon__wrap {
		display: flex;
	}
}
