@use '../../styles/ne-global-imports' as *;

.usa-button {
	font-size: font-size('ui', 'sm');
	transition: background-color $transition, text-decoration-color $transition;

	&__wrap {
		em {
			font-style: normal;
		}
	}

	&--secondary {
		&:hover,
		&.usa-button--hover {
			background: color('secondary-light');
		}

		&:active,
		&.usa-button--active {
			background: color('secondary-lighter');
		}
	}

	&--outline {
		text-decoration: underline;
		text-decoration-color: transparent;

		&:hover,
		&.usa-button--hover {
			text-decoration: underline;
			text-decoration-color: currentColor;
		}
	}
}
