@use '../../styles/ne-global-imports' as *;
@use '~uswds/usa-icon-list/src/styles';

$block: 'usa-icon-list';

.#{$block}  {
	.usa-icon {
		width: units(3);
		height: units(3);
		fill: color('primary');
	}

	&__content {
		font-size: size($theme-icon-list-font-family, 'sm');
	}
}