$transition: .3s ease-in-out;
$transition-slow: .5s ease-in-out;

// Spacing variables
$component-spacing-sm: 3; // for "small" components that can sit right next to others (like text)
$component-spacing-lg: 15; // for big bulky components that need more space around them

$hero-spacing-sm: 10; 
$hero-spacing-lg: 15; 


// Custom red
$ne-color-red: #B3314E;
$ne-color-green: #a4aa2d;
$ne-color-yellow: #feb703;
$ne-color-dark-red: #971943;
$ne-color-dark-blue: #003A4D;
$ne-color-yellow-background: #fdb626;

